<div class="container">
    <h1><%= title %></h1>
    <img src="./Assets/images/info.jpg" alt="" width="220" height="220"> <br><br>

        <td>Name: </td>
        <td>Lin PaoHung</td><br>
        
        <td>StudentID: </td>
        <td>301020353</td><br><br>

        <td>
            My name is Lin PaoHung, I was born in Taiwan in October 1999.<br>
            When I was in high school, I came to Canada to study at Columbia International High School. <br>
            Now the school I am attending is the Centennial College the department is Software Engineering Technician.<br> 
            Now it is my third semester.<br><br>
            My interests are traveling, biking, fishing, computer games, game consoles, and watching movies and anime.<br>
             It's a pleasure to introduce myself to you.
        </td><br>
        <td>Resume: </td>
        <td><a href="./Assets/info/about.pdf">PDF document</a></td><br>

        <a href="home">back home</a>
</div>