
<div class="container">
    <h1><%= title %></h1>
    <img src="./Assets/images/logo.png" alt="" width="300" height="250"><br>
        <tr>
            <td>Contact Person: </td>
            <td>Lin PaoHung</td>
            </tr>
        <tr><br><br>

        <td>Contact number: </td>
        <td>( +1 ) 416 838 1038</td>
        </tr><br><br>

        <tr>
        <td>Facebook:</td>
        <td>plin21@samplefacebook</td>
        </tr><br><br>

        <tr>
        <td>Twitter:</td>
        <td>plin21@sampletwitter</td>
        </tr><br><br>

        <tr>
        <td>Email:</td>
        <td>plin21@my.centennialcollege.ca</td>
        </tr><br><br>

        <a href="home">back home</a>

</div>


