<div class="container">
    <h1><%= title %></h1>
    <img src="./Assets/images/logo.png" alt="" width="300" height="250"><br>
        Welcome to my Personal Homepage. <br>
        Here I will introduce About Me page, Projects page, Services page, and Contact Me <br>
        
        There are various buttons on top of webpage to go to other pages.
        <br><br><br>
        <h3>Mission</h3>
        1. Learn how to increase programming and design skills.<br>
        2. In COMP229 learn how to code web pages and build servers.<br><br>
        Thanks for viewing my Personal Homepage
    
</div>