<div class="container">
    <h1><%= title %></h1>
    <a href="home">back home</a>
        <table>
            <tr>
                <td><img src="./Assets/images/pro1.jpg" alt="" width="220" height="220"></td>
                <td>
                    <strong>Weather monitoring Tool</strong><br>
                    An application that is convenient to check the weather conditions these days.
                    <br>
                </td>
            </tr>
            <tr>
                <td><img src="./Assets/images/pro2.jpg" alt="" width="220" height="220"></td>
                <td>
                    <strong>Traffic query</strong><br>
                    A convenient application to check the status of traffic on the road.
                    <br>
                </td>
            </tr>
            <tr>
                <td><img src="./Assets/images/pro3.png" alt="" width="220" height="220"></td>
                <td>
                    <strong>Price comparison app</strong><br>
                    An application that is convenient for users to query product comparison prices.
                    <br>
                </td>
            </tr>
        </table>
        
</div>
s